[Desktop Entry]
Icon=text-html
Name=LinkedIn Course
Type=Link
URL[$e]=https://www.linkedin.com/learning/writing-a-resume/writing-a-successful-resume?u=36359204
